body{
    background-color: rgb(60, 93, 60);
    display: flex;
    align-items: center;
    justify-content: center;
}
.keyBoard{
    width: 65%;
    transform: translate(0px, 140px);
    background-color: rgb(231,206, 181);
    border: solid black;
    border-width: 5px;
    padding: 5px;
}
.rowPrime * {
    width: 50px;
    height: 25px;
    border: solid black;
    padding: 5px;
    margin: 1px;
    margin-bottom: 5px;
    background-color: rgb(85, 40, 30);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rowPrime, .row0, .row1, .row2, .row3, .row4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row0 *, .row1 *, .row2 *, .row3 *, .row4 * {
    width: 50px;
    height: 50px;
    border: solid black;
    padding: 5px;
    margin: 1px;
    margin-bottom: 5px;
    background-color: rgb(85, 40, 30);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row2 * {
    margin-bottom: 1px;
}
#§{
    width: 35px;
}
#Backspace{
    width: 100px;
}
#enter{
    width: 70px;
}
#enterBottom{
    transform: translate(0px, -9px);
    height: 57px;
    border-top: 0px;
}
#ShiftRight{
    width: 160px;
}
#Space{
    height: 50px;
    width: 350px;
}
#Tab{
    width: 75px;
}
#CapsLock{
    width: 90px;
}
#ArrowUp{
    height: 15px;
    width: 65px;
}
#ArrowDown{
    height: 25px;
    width: 70px;
    border: solid black;
    background-color: rgb(85, 40, 30);
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(849px, -35px);
}
